/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /*Add styles beneath this line that you want to be applied across your entire site */
 @import 'reset';
 @import "darin-animated";
 @import 'jquery-ui.min.css';


 #login h1 a, 
 .login h1 a {
 	display: none;
 }

 .login {
 	#login_error, .message {
 		/*position: absolute;*/
 		/*top: 0;*/
 	}


 	form {

 		.inputGroup {
 			input[type='text'], input[type='password'] {
 				margin-top: 12px;
 			}
 		}

 		input[type='email'], input[type="text"], input[type="number"], input[type="url"], input[type="search"], input[type="password"] {
 			font-size: 1.24em;
 		}	

 		.inputGroup1 {

 			.helper1 {
 				font-size: 1.24em;
 			}
 		}
 		.inputGroup2 #showPasswordToggle {
 			font-size: 0.8em;
 		}
 		.button.button-large {
 			display: block; margin: 0; padding: .65em 1em 1em;
 			background-color: $medBlue; border: none; border-radius: 4px;
 			box-sizing: border-box; box-shadow: none;
 			width: 100%; height: 65px;
 			font-size: 1.55em; color: #FFF; font-weight: 600; font-family: inherit;
 			transition: background-color .2s ease-out;
 			&:hover, &:active {
 				background-color: $darkBlue;
 			}
 		}
 			.forgetmenot label {
			display: block; 
			/*padding: 0 0 0 1.45em;*/
			font-size: 1em;
			input {
				
				height: 1.1em; width: 1.1em;
				background-color: $inputBG; border: solid 2px $darkBlue; border-radius: 3px;
				&:after {
					content: "";
					position: absolute; left: .25em; top: .025em;
					width: .2em; height: .5em;
					border: solid $darkBlue; border-width: 0 3px 3px 0;
					transform: rotate(45deg); visibility: hidden;
				}
			}
			input:checked ~ .indicator {
				&:after {visibility: visible;}
			}
			input:focus ~ .indicator, input:hover ~ .indicator {
				border-color: $medBlue;
			}
			input:disabled ~ .indicator {
				opacity: .5;
				&:after {visibility: hidden;}
			}
		}
		input[type=checkbox]:checked:before {
    font: 400 21px/1 dashicons;

}	

 	}
 }

